# Node.js 관련 #
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 설정 파일 #
#.env
#.env.*.local

# 디버그 로그 #
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# 디렉터리 #
/dist
/build
/tmp

# OS 관련 #
.DS_Store
Thumbs.db

# 에디터 설정 #
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# 버전 관리에서 제외할 임시 파일들 #
*.tmp
*.temp
*.tlog
*.tpb
*.tlb

# 기타 #
*.log
*.sqlite
*.tar.gz
*.zip
*.rar
*.exe
*.dll
*.so
*.dylib

package-lock.json