{
  "javascriptEnable": ["javascript", "javascriptreact"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}
